page-sharedlists {
    p.ionthumbnail {
        background-color: antiquewhite;
        border-radius: 100%;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding: 25%;
    }

    .nocardimg{
        width: 100%;
        height: 80%;
    }

    img.nocardimg {
        padding: 10%;
    }

}
