page-profile {
    img.profilepicimg {
        width: 60%;
        text-align: center;
    }
    .profilepic {
        text-align: center;
    }
    .profilecontent {
        text-align-last: center;
        margin: 5%;
    }
    ion-content.content.content-md {
        background-color: floralwhite;
    }
}
