page-home {
    .homebuttons {
        height: 100%;
        padding: 0;
        text-align: center;
    }
    .homeimagebtdiv {
        position: absolute;
        bottom: 0;
        padding: 5%;
    }
    .homebuttons button {
        margin-top: 15%;
        width: 70%;
    }
    ion-content.content.content-md {
        background-color: floralwhite;
    }
}
